*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;   
}
body{
    color: white;
    background: linear-gradient(rgb(29, 28, 28),rgb(41, 41, 41));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
/* Header styling */
header {
    width: 100%;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 30px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

/* Video container */
.video-container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 15px;
}
.video-item{
    margin-top: 20px;
}
h2{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
}

video {
    width: 100%;
    height: auto;
}

/* Controls styling */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.control-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.control-btn:hover {
    background-color: #555;
}

#volume {
    flex-grow: 1;
    margin: 0 10px;
}

/* Responsive styling */
@media (max-width: 768px) {
    .video-container {
        width: 90%;
    }
    
    .controls {
        flex-direction: column;
        align-items: flex-start;
    }
    
    #volume {
        margin: 10px 0;
        width: 100%;
    }
    
    .control-btn {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .control-btn:last-child {
        margin-bottom: 0;
    }
}
